body {
    background-color: #121212; /* Dark background color */
    color: #ffffff; /* Light text color for contrast */
    font-family: Arial, sans-serif;
}

.main {
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

.button-box {
    text-align: center;
    padding-top: 30px;
}

h1:hover {
    color: tomato;
}

p:hover {
    color: cornflowerblue;
}